%article.article.viewport#golden-grid-system
  .canvas
    .bg
    .fg
      %header.heading
        %h1 Golden Grid System
      %section.description
        :markdown
          **[Golden Grid System](http://goldengridsystem.com) is a completely fluid-width grid system** for responsive web design.

          I published it during the time responsive design was really gaining steam, so it ended up getting quite a bit of publicity. Unfortunately I did a bad job in presenting it, making many people misunderstand how it should and should not be used.
    = partial "viewport-controls"
