%article.locator#less-framework
  .canvas
    .bg
      .column
      .column
      .column
      .column
      .column
      .column
      .column
      .column
      .column
    .fg
      %header.heading
        %h1 Less Framework
      %section.description
        :markdown
          An adaptive CSS grid system, and the ancestor of my later grid system: [Frameless](http://framelessgrid.com). It adapts by switching between four static-width layouts, depending on the width of the screen. Each layout shares the same column and gutter widths, making it easy to reuse elements between them.

          It was my first attempt to develop an alternative to adaptive fluid-width layouts. A lot of people at the time were also looking for a way out from using fluid layouts, causing Less Framework to become quite popular. I ended up developing four major versions of it.
      .launch-button
        %a{href: "http://lessframework.com"} lessframework.com
