%article.article.viewport#little-picture
  .canvas
    .bg
    .fg
      %header.heading
        %h1 Little Picture
      %section.description
        :markdown
          **Little Picture was my blog about the little details in design,** started in 2010. It's currently discontinued and offline while I move it to a better archiving location.

    = partial "viewport-controls"
