%article.article.viewport#netmag-adaptive-static-design
  .canvas
    .bg
    .fg
      %header.heading
        %h1 Adaptive Static Design
      %section.description
        :markdown
          [Adaptive static design (PDF)](/files/adaptive-static-design-netmag-211.pdf). My very first printed article, published in [.net Magazine #211](http://www.netmagazine.com/shop/magazines/february-2011-211). Not very good.
    = partial "viewport-controls"
