---
title: Joni Korpi
---

.viewport#grid-systems
  %header.section-header
    %h1 Grid Systems
  = partial "close-button"
  %a.viewport-expand-button{href: "#"}
  = partial "contents/less-framework"

.viewport#archived-work
  %header.section-header
    %h1 Archived Work
  = partial "close-button"
  %a.viewport-expand-button{href: "#"}

.viewport#about
  %header.section-header
    %h1 About
  = partial "close-button"
  %a.viewport-expand-button{href: "#"}
